.mi-noticia{
  height: 230px!important;
}
.boton-azul{
  font-size: 30px;
}
.span-telefono{
  font-size: 40px;
}
.fuente-15{
  font-size: 20px;
}
.nav>li>a{
  font-size: 16px;
  padding: 15px;
}
.mi-subtitulo{
  font-size: 15px!important;
}
.mi-titulo{
  font-size: 23px!important;
}
.jumbotronn{
  font-size: 15px;
}
.jumbotronn>h1{
  font-size: 20px;
}
.btn-social-icon.btn-lg {
    height: 72px!important;
    width: 72px!important;
    font-size: 23px;
}
.btn-social-icon.btn-lg>:first-child {
    line-height: 70px!important;
}
